################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QuanLyKhachSan/QuanLyKhachSan/frmDangNhap.Designer.cs
